RewriteEngine On
RewriteCond %{HTTP_HOST} ^abocaboca.quialacorps.com [NC,OR]
RewriteCond %{HTTP_HOST} ^www.abocaboca.quialacorps.com [NC]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]
